.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    padding: 10px 30px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .logo {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav-button,
  .logout-button {
    padding: 10px 20px;
    background-color: #9246f7;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover,
  .logout-button:hover {
    background-color: #7e7e7e;
  }
  
  .logout-button:hover {
    background-color: #ff0000; /* overrides hover for logout */
  }